/**
 * Basic typography style for copy text
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

h1 {
  @include heading1();
}

h2 {
  @include heading2();
}

h3 {
  @include heading3();
}

h4 {
  @include heading4();
}

h5 {
  @include heading5();
}

h6 {
  @include heading6();
}

p {
  margin: 0;
  line-height: 1.75;
  letter-spacing: 0;
  font-size: 1.6rem;
  font-family: 'Jost', sans-serif;
}

.txt-lg {
  font-size: 1.8rem;
}
.txt-caption {
  font-size: 1.4rem;
}